{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
    {% if perms.blogs.add_category %}
    
    <div class="row">
        <!-- Left sidebar -->
        <!-- load side bar here -->
        {% include 'dashboards/sidebar.html' %}

        <!-- Right sidebar -->
        <div class="col-md-9">
            <h3>Add New Category</h3>

            <form action="{% url 'add_category' %}" method="POST" style="width: 500px;">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
            <br>
        </div>
    </div>
        
    {% else %}
        <h3><b>You are not allowed to Add Category</b></h3>
    {% endif %}
{% endblock %}